.AboutContainer {
    /* display: flex; */
    justify-self: center;
    background-color: rgb(143, 170, 197);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;

}


.tabcontent {
    margin: 10px;
    padding-bottom: 5px;
}

.InfoChoices {
    display: flex;
    padding-top: 5px;

}
.radio3 {
    position: fixed;
    opacity: 0;
    display: none;
}



.radio2 {
    position: fixed;
    opacity: 0;
    display: none;
}

.radio1 {
    position: fixed;
    opacity: 0;
    display: none;
}



.radio3Label {
    cursor: pointer;
}

.radio3Label:hover {
    cursor: pointer;
    background-color: red;
}

/* .radio3Label::selection {
    background-color: rgb(0, 255, 0);
} */

.active {
    background-color: blueviolet;
}




.radio2Label {
    cursor: pointer;
}

.radio2Label:hover {
    cursor: pointer;
    background-color: red;
}

.radio1Label {
    cursor: pointer;
}

.radio1Label:hover {
    cursor: pointer;
    background-color: red;
}




/* .InfoChoices button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
} */

/* .InfoChoices button:hover, button:focus {
    background-color: rgb(214, 52, 52);
} */



.ImportanceASL {
    /* background-color: aqua; */
    margin-left: 5px;
    margin-right: 5px;
}

.WhyLearn{
    /* background-color: yellowgreen; */
    margin-right: 5px;
}

.About {
    /* background-color: brown; */
}

.HomepageContainer {
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}

.WeekPhraseContainer {
    background-color: rgb(143, 170, 197);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 3px black
}

.linebreak {
    border-color: black;
    border-width: .1px;
    width: 90%;
    margin-top: 20px;
}



.WeekPhrase {

}
