.AboutContainer {
    /* display: flex; */
    justify-self: center;
    background-color: #9AD0EC;
    /* margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%; */
    padding-top: 2%;
    padding-bottom: 10px;

}

.AboutInnerContainer {
        margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
}


.tabcontent1 {
    margin: 10px;
    padding-bottom: 5px;
    background-color: #0F7173;
    color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
}

.tabcontent2 {
    margin: 10px;
    padding-bottom: 5px;
    /* background-color: #726E75; */
    /* color: whitesmoke; */
    padding: 5px;
    border-radius: 3px;
}

.tabcontent3 {
    margin: 10px;
    margin-bottom: 10px;
    background-color: #0F7173;
    color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
}

.InfoChoices {
    display: flex;
    padding-top: 5px;

}
.radio3 {
    position: fixed;
    opacity: 0;
    display: none;
}



.radio2 {
    position: fixed;
    opacity: 0;
    display: none;
}

.radio1 {
    position: fixed;
    opacity: 0;
    display: none;
}



.radio3Label {
    cursor: pointer;
    background-color: #0F7173;
    color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
    /* background-color: red; */
}

.radio3Label:hover {
    cursor: pointer;
    border-color: #0F7173 solid 1px;
    /* background-color: #ffa500; */
}

/* .radio3Label::selection {
    background-color: rgb(0, 255, 0);
} */

.active {
    background-color: orange;
    cursor: pointer;

}

/* .active1:focus {
    background-color: blueviolet;
} */

.firstTabContainer {
    background-color: #0F7173;
    color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}

.secondTabContainer {
    /* background-color: #ffa500; */
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}


.thirdTabContainer {
    background-color: #0F7173;
    color: whitesmoke;
    border-radius: 5px;
    margin: 0;
}


.radio2Label {
    cursor: pointer;
    background-color: #ffa500;
    /* border-color: #0F7173 solid 1px; */
    padding: 5px;
    border-radius: 3px;

}

.radio2Label:hover {
    cursor: pointer;
    background-color: none;
}

.radio1Label {
    background-color: #0F7173;
    color: whitesmoke;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.radio1Label:hover {
    cursor: pointer;
    background-color: inherit;
    color: black;
    border: black 1px solid;
}



.ImportanceASL {
    /* background-color: aqua; */

    margin-left: 5px;
    margin-right: 5px;
}

.WhyLearn{
    /* background-color: yellowgreen; */
    margin-right: 5px;
}


.CreateContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    /* padding-bottom: 50px; */
    border: solid black 3px;
    margin-top: 10px;
    background-color: #9AD0EC;
    border-radius: 5px;
}
.APhrase {
    display: flex;
    margin-top: 10%;
}

.CreateLogo {
    margin-top: 10px;
    width:100%;
    height:120%
}

.HomepageContainer {
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
}

.WeekPhraseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #9AD0EC;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 3px black;
    width:80%;
    height:85%
}

.linebreak {
    border-color: black;
    border-width: .1px;
    width: 90%;
    margin-top: 20px;
}

.OuterWeekPhraseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    padding-left: 15px;
    padding-right: 15px;
    width:45%
}

.WeekPhrase {

}
