.CategoriesandPhrasesContainer {
    display: flex;
    justify-content:center;
    background-color: #f7f7f7;
    width: 45%

}


.CategoryContainer {
    display: flex inline-flex;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: #9AD0EC;

    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    border: solid 3px black
}

.CategoryContainer button {
    background-color: inherit;
    font-size: large;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.CategoriesHeader {
    /* background-color: aqua; */
    display: flex;
    position: flex;
    margin-bottom: 0;
}

.PhrasesHeader {
    display: flex;
    position: flex;
    margin-bottom: 0;
}

.PhrasesContainer {
    display: flex;
    flex-direction: column;
    background-color:  #9AD0EC;;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 3px black
}

.CategoryName {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.CategoryName:hover{
    background-color:rgba(255, 170, 0, 0.63);
    border-radius: 5px;
}

.CategoryName:focus{
    background-color:#ffa500;
    border-radius: 5px;
}

.PhraseName {
    display: flex;
    justify-content: center;
}
