/* TODO Add site wide styles */
body {
    background-color: #fcfcfc;
    margin: 0px;
    min-height: 400px;
    margin-bottom: 20px;
    clear: both;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */

}

html {
    font-family: Monterserrat, sans-serif

}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}


.ErrorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
