.tabcontent1 {
    margin-bottom: 10px;
    background-color: #9AD0EC;
    padding: 10px;
    border-radius: 3px;
    margin-left: 25%;
    margin-right: 25%;

}


.firstTabContainer {
    background-color: #9AD0EC;
    /* color: whitesmoke; */
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.DeafDemographPic {
    width: 50%;
}

.sideContentContainer {
    width: 40%;
}

.ImportanceSideContent {
    display: flex;
    padding-left: 25px;
}

.PicandContent {
    display: flex;
    justify-content: space-evenly;
}
