.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #cc765a;
}

.SignupLogout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}

.SignUpFormModalContainer {
    /* display: flex; */

}

.LogoutButtonContainer {
    align-self: center;
}
