#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    display: flex;
    position: absolute;
    background-color:#9AD0EC;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 5px;
    padding: 20px;
  }

.input-parent {
  display: flex;
  padding-top: 15px;
  justify-content: flex-end;
}

