.SingleCommentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: beige;
    width: 500px;
    height: 100%;
    margin-bottom: 0;
}

.EditCommentButtonContainer {
    display: flex;
    justify-content: flex-end;
}


.EditCommentButton {

    justify-content: flex-end;

}

.commentEditInput {
    border-radius: 5px;
    width: 500px;
    height: 100px;
}
