.formContainer {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    /* width: 50%; */
}

.CreateLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CreateCategoriesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.CreateAPhraseHeader {
    display: flex;
    justify-content: center;
    margin-right: 0;
}

.PhraseInputsContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;

}

.CreateLogo {
    display: flex;
    justify-content: center;
    height:40%;
    width: 30%;
    /* margin:0; */
    /* margin-right: 0; */
}

.AllInputsContainer {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}


.CreateTitleContainer {
    width: 40%;
    padding-bottom: 10px;
}

.CreateTitle {
    width: 100%;
}


.CreateDescriptionContainer {
    width: 80%;
    height: 80%;
}

.CreateDescription {
    width:100%;
    height: 100px;
}



.CreateMediaContainer {
    width: 55%;
    padding-bottom: 10px;
}

.CreateMedia {
    width: 90%;
}

.SubmitCreateContainer {
    width: 175%;
    display: flex;
    justify-content: center;

}

.SubmitCreate {
    margin-top: 20px;
    /* display: flex ; */
    /* margin-right:0; */
    width: 15%;
    /* justify-content: center; */
    /* justify-content: flex-end; */
}
