.tabcontent2 {
    margin-bottom: 10px;
    background-color: #9AD0EC;
    padding: 5px;
    border-radius: 3px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: space-around;
}

.secondTabContainer {
    background-color: #9AD0EC;
    /* color: whitesmoke; */
    /* height: 10%; */
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.LearnContent {
    width: 50%;
    margin-top: 2%;
    margin-right: 2%;
    
}

.MarthasVineyard {
    display: inline;
    width: 100%;
    margin-top: 6%;
}

.LearnPic2 {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    margin-bottom: 2%;
}

.Citation {
    font-size: small;
    font-style: italic;
    width: 50%;
    margin-top: 5%;
    margin-left: 15%;
}

.SignNotOnlyHands {
    width: 60%;
    height: 80%;
}
